*{
    background-color: black;
}

.container {
    width: 200px;
    margin: 0 auto;
    text-align: center;
  }
  
  .top, .bottom {
    background-color: #f0f0f0;
    padding: 10px 0;
  }
  
  .middle {
    font-size: 24px;
    padding: 20px 0;
  }
  
  button {
    margin: 5px;
  }